# Application URL Configuration
APP_NAME="AmikomEventHub"
APP_ENV=production
APP_KEY=base64:C0PUHAv+7Hdc1GRUL8gkB357PfI1xMof8uqzG0PLIXM=
APP_DEBUG=false
APP_URL=https://eventamikom-web.vercel.app

# Database Configuration (Neon PostgreSQL)
DB_CONNECTION=pgsql
DB_HOST=ep-green-credit-az9nn8gq.c-3.ap-southeast-1.aws.neon.tech
DB_PORT=5432
DB_DATABASE=neondb
DB_USERNAME=neondb_owner
DB_PASSWORD=your_neon_password
DB_SSLMODE=require

# Google OAuth SSO Credentials
GOOGLE_CLIENT_ID=your_google_client_id.apps.googleusercontent.com
GOOGLE_CLIENT_SECRET=your_google_client_secret
GOOGLE_REDIRECT_URI=https://eventamikom-web.vercel.app/auth/google/callback

# Midtrans Payment Gateway Credentials
MIDTRANS_SERVER_KEY=your_midtrans_server_key
MIDTRANS_CLIENT_KEY=your_midtrans_client_key
MIDTRANS_IS_PRODUCTION=false

# Cloudinary Storage Configuration
CLOUDINARY_URL=cloudinary://664416719541137:LQVNBAauY_5jo_nHXT9zHaoQbYI@omojhwbn


MAIL_MAILER=log
MAIL_SCHEME=null
MAIL_HOST=127.0.0.1
MAIL_PORT=2525
MAIL_USERNAME=null
MAIL_PASSWORD=null
MAIL_FROM_ADDRESS="hello@example.com"
MAIL_FROM_NAME="${APP_NAME}"

AWS_ACCESS_KEY_ID=
AWS_SECRET_ACCESS_KEY=
AWS_DEFAULT_REGION=us-east-1
AWS_BUCKET=
AWS_USE_PATH_STYLE_ENDPOINT=false

VITE_APP_NAME="${APP_NAME}"

GOOGLE_CLIENT_ID=
GOOGLE_CLIENT_SECRET=
GOOGLE_REDIRECT_URI=http://127.0.0.1:8000/auth/google/callback

CLOUDINARY_URL=
